@import '../../styles/colors.scss';

.headerContent {
    width: 1280px;
    height: 144px;
    margin-inline: auto;
    background-color: white;

    .line {
        width: 1280px;
        height: 1px;

        background-color: #F0F0F0;
    }

    .informationContainer {
        display: flex;
        justify-content: space-around;

        width: 1280px;
        height: 32px;
    }

    .information {
        display: flex;
        align-items: center;
        gap: 9px;
        
        img {
            color: $gray-1;
        }

        p {
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            color: $gray-1;
        }

        span {
            color: $primary-pink;
            font-weight: 600;
            
        }
    }

    .shoppingContainer {
        width: 1280px;
        height: 72px;
        padding: 0 56px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .logotipo {
            width: 139;
            height: 50.641px;

            cursor: pointer;
        }

        .inputContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 14px 24px;
            border-radius: 10px;
            background-color: #f6f5f2;
            width: 657px;
            height: 48px;

            input {
                width: 657px;
                height: 48px;
                background-color: #f6f5f2;
                border: 0;
                outline: none;
                
                &::placeholder {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    color: $gray-1;
                    line-height: normal;
                }
            }
        }

        .shoppingIcons {
            display: flex;
            gap: 32px;

            img {
                cursor: pointer;
            }
        }
    }

    .categoriesContainer {
        padding: 10px 56px;
        box-shadow: 0px 8px 16px 0px rgba(57, 48, 19, 0.12);

        ul {
            display: flex;
            gap: 91px;
            list-style: none;
    
            color: $gray-1;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            
            li {
                cursor: pointer;
            }

            li:last-child {
                display: flex;
                align-items: center;
                gap: 12px;
             }
        }
    }
}
